{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
       {{ category.description|truncatewords:155 }}
   {% else %}
       Welcome to Farmers Market where you can buy fresh items and stay Healthy...
   {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
       {{ category.name }} - Farmers Market
   {% else %}
    Taste our Fresh products - Farmers Market
   {% endif %}
{% endblock %}


{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx_auto">
        <p><a href="{% url 'shop:allProdCat' %}Our Fresh Products"></a></p>
        </div>
    </div>
</div>
   {% endif %}
<div class="mx_auto">
{% if category %}
   <img class="my_image" src="{{category.image.url}}" width="150px" height="200px" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Fresh Products" width="1250px;">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Fresh Products</h1>
    <p class="text-justify">Health has a variety of definitions, which have been used for different purposes over time. Health can be promoted by encouraging healthful activities, such as regular physical exercise and adequate sleep,[1] and by reducing or avoiding unhealthful activities or situations, such as smoking or excessive stress. Some factors affecting health are due to individual choices, such as whether to engage in a high-risk behavior, while others are due to structural causes, such as whether the society is arranged in a way that makes it easier or harder for people to get necessary healthcare services. Still, other factors are beyond both individual and group choices, such as genetic disorders. </p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="...">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"> {{pg}} </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}